@model MailTax.Models.Doc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Folder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
