@model IEnumerable<MailTax.Models.Doc>

@{
    ViewData["Title"] = "Index";
}

<h1>Documents</h1>

<p class="create">
    <a asp-action="Create">Add new Document</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Info</th>
            <th>Folder</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folder.FolderName)
            </td>
            <td class="actions" >
                <a asp-action="Edit" asp-route-id="@item.DocId">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.DocId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
       
body {
      background-color: #DCF0F2;
      font-family: trebuchet ms; 
      text-align: center;
      color: #436573; 
}

a:link {
    text-decoration-line: none; 
    color: #436573; 
    display: inline-block;
    padding: 2rem;
    width: 10rem;
    height: 5rem;
}

a:visited {
    text-decoration-line: none;
    color: #436573; 
    display: inline-block
}

a:hover {
    text-decoration-line: none;
    color: #ffffff; 
    display: inline-block
}

.create a {
    background-color: #436573;
    color: #DCF0F2;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 12rem;
    height: 3.5rem;
    text-decoration: none;
    cursor: pointer;
}

.create a:hover {
    background-color: #ffffff;
    color: #436573;
}

table  {
       margin-top: 2rem;                
       border: none;
       text-align: center;
}

th , td {
        width: 5rem;           
        padding: 1rem;
        margin: 0;
        height: 2rem;
}

.actions a {
    width: 4rem;
    padding: 0rem;
    margin: 0;
}

</style>